<div class="container navbar-top">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Новости</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Товар</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Контакты</a></li>
        <ul class="nav navbar-nav navbar-right">
          <li>

              <div class="basket-container id=basket-container " >
                <a href="">Корзина <span id="basket_total_amount"></span><span id="basket_total_nmb"></span></a>
                <div class="basket-items hidden">
                  <ul class="">



                </ul>
              </div>
            </div>

          </li>
        </ul>
      </ul>
    </header>
  </div>
